@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Chuyên mục thủ tục hành chính bị xóa";
    int ipage = 1;
    if (ViewBag.PageIndex != null)
    {
        ipage = (int)ViewBag.PageIndex;
    }
    int totalPage = 1;
    if (ViewBag.TotalPage != null)
    {
        totalPage = (int)ViewBag.TotalPage;
    }
    int firstPaging = ipage - 2;
    int lastPaging = ipage + 2;
    firstPaging = firstPaging <= 0 ? 1 : firstPaging;
    lastPaging = lastPaging - firstPaging < 5 ? firstPaging + 4 : lastPaging;
    lastPaging = lastPaging >= totalPage ? totalPage : lastPaging;
    bool? trash = (bool?)ViewBag.Trash;
    int count = (ipage - 1) * 20;
}
@using CucDiSanVN.Areas.Admin.Models
@model IEnumerable<modelCategories>
<section class="content-header">
    <h1 class="title text-uppercase text-bold">@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="/Admin/ThuTucHanhChinh">Quản lý thủ tục hành chính</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @using (Html.BeginForm("CategoryTrash", "ThuTucHanhChinh", FormMethod.Get, new { @id = "chuyen-muc-thu-tuc-hanh-chinh-list-trash" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="_searchKey" value="@ViewBag.SearchKey" class="form-control" placeholder="Nhập từ khóa.." />
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("_parentId", null, "--Chuyên mục--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 text-right">
                                    <button type="button" class="btn btn-danger search btn-flat"><i class="fa fa-filter"></i> Lọc</button>
                                    <button type="button" class="btn btn-info btn-flat" onclick="refresh('ThuTucHanhChinh/CategoryTrash')"><i class="fa fa-refresh"></i> Hủy</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="50">STT</th>
                                        <th width="350">Tên chuyên mục</th>
                                        <th>Chuyên mục cha</th>
                                        <th width="180">Thao tác</th>
                                    </tr>
                                </thead>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td class="text-center">@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.ParentName</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-flat" title="Khôi phục" onclick="untrash('@item.Id','ThuTucHanhChinh/CategoryTrash')"><i class="fa fa-check"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        @if (totalPage > 1)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    @if (firstPaging > 1)
                                    {
                                        <li>
                                            <a href="#" aria-label="Previous" onclick="moveToPreviousPage(@ipage, 'chuyen-muc-thu-tuc-hanh-chinh-list-trash')">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = firstPaging; i <= lastPaging; i++)
                                    {
                                        var cssClass = "";
                                        if (i == ipage)
                                        {
                                            cssClass = "active";
                                        }
                                        <li class="@cssClass"><a href="#" onclick="moveToPage(@i, 'chuyen-muc-thu-tuc-hanh-chinh-list-trash')">@i</a></li>
                                    }
                                    @if (lastPaging < totalPage)
                                    {
                                        <li>
                                            <a href="#" aria-label="Next" onclick="moveToNextPage(@ipage, 'chuyen-muc-thu-tuc-hanh-chinh-list-trash')">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                        <input type="hidden" name="_pageIndex" value="@ipage" class="page-to-move" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>