@{
    ViewBag.Title = "Thống kê tin theo năm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using CucDiSanVN.Areas.Admin.Models
@model List<modelThongKeSoLuongTinTheoCacNam>
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Admin</a></li>
        <li><a href="/Admin/ThongKe">Thống kê</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    @using (Html.BeginForm("ThongKeTheoTungNam", "ThongKe", FormMethod.Get, new { @id = "thong-ke-list" }))
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.DropDownList("fromYear", null, "--Từ năm--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("toYear", null, "--Đến năm--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger search btn-flat"><i class="fa fa-filter"></i> Lọc</button>
                                    <button type="button" class="btn btn-info btn-flat" onclick="refresh('ThongKe/ThongKeTheoTungNam')"><i class="fa fa-refresh"></i> Hủy</button>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" class="btn btn-primary btn-flat" onclick="XuatFile()"><i class="fa fa-print"></i> Xuất File</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" id="thongkecacnam">
                            <div class="form-group text-center text-uppercase" style="font-size:24px;font-weight:bold; text-align:center; text-transform:uppercase;">
                                Thống kê tin theo các năm
                            </div>
                            <table class="table table-bordered table-striped" border="1" style="border-collapse:collapse; width:100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Năm</th>
                                        <th style="text-align:center;">Tin</th>
                                        <th style="text-align:center;">Ảnh</th>
                                        <th style="text-align:center;">Phim</th>
                                        <th style="text-align:center;">Logo/Banner</th>
                                        <th style="text-align:center;">Văn bản</th>
                                        <th style="text-align:center;">Khác</th>
                                        <th style="text-align:center;">Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">(1)</td>
                                        <td style="text-align:center;">(2)</td>
                                        <td style="text-align:center;">(3)</td>
                                        <td style="text-align:center;">(4)</td>
                                        <td style="text-align:center;">(5)</td>
                                        <td style="text-align:center;">(6)</td>
                                        <td style="text-align:center;">(7)</td>
                                        <td style="text-align:center;">(8)</td>
                                    </tr>
                                    @if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align:center;">@item.Nam</td>
                                                <td style="text-align:center;">@item.Tin</td>
                                                <td style="text-align:center;">@item.Anh</td>
                                                <td style="text-align:center;">@item.Video</td>
                                                <td style="text-align:center;">@item.Logo</td>
                                                <td style="text-align:center;">@item.VanBan</td>
                                                <td style="text-align:center;">@item.Khac</td>
                                                <td style="text-align:center;">@item.Toatal</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section scriptAs {
    <script>
        function XuatFile() {
            //var panel = document.getElementById("thongkecacnam");
            //var printWindow = window.open();
            //printWindow.document.write('<html><head><title>In thống kê tin theo các năm</title>');
            //printWindow.document.write('</head><body >');
            //printWindow.document.write(panel.innerHTML);
            //printWindow.document.write('</body></html>');
            //printWindow.document.close();
            //setTimeout(function () {
            //    printWindow.print();
            //}, 100);
            var dt = new Date();
            var day = dt.getDate();
            var month = dt.getMonth() + 1;
            var year = dt.getFullYear();
            var hour = dt.getHours();
            var mins = dt.getMinutes();
            var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
            var result = 'data:application/msword,' + encodeURIComponent($('div[id$=thongkecacnam]').html());
            var link = document.createElement("a");
            document.body.appendChild(link);
            link.download = 'Thong_Ke_So_luong_theo_cac_nam' + postfix + '.doc';
            link.href = result;
            link.click();
        }
    </script>
}
