@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Chuyên mục thủ tục hành chính";
    int count = 0;
}
@using CucDiSanVN.Areas.Admin.Models
@model IEnumerable<modelCategories>
<section class="content-header">
    <h1 class="title text-uppercase text-bold">@ViewBag.Title</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="/Admin/DiSanVanHoa">Quản lý di sản văn hóa</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @using (Html.BeginForm("Category", "DiSanVanHoa", FormMethod.Get, new { @id = "chuyen-muc-di-san-van-hoa-list" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.DropDownList("_parentId", null, "--Chuyên mục--", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 text-right">
                                    <button type="button" class="btn btn-danger search btn-flat"><i class="fa fa-filter"></i> Lọc</button>
                                    <button type="button" class="btn btn-info btn-flat" onclick="refresh('DiSanVanHoa/Category')"><i class="fa fa-refresh"></i> Hủy</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("DetailCategory", "DiSanVanHoa")" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> Thêm mới</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="50">STT</th>
                                        <th width="350">Tên chuyên mục</th>
                                        <th width="350">Link chuyên mục</th>
                                        <th>Chuyên mục cha</th>
                                        <th width="180">Thao tác</th>
                                    </tr>
                                </thead>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td class="text-center">@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Alias</td>
                                            <td>@item.ParentName</td>
                                            <td>
                                                <a title="Cập nhật" class="btn btn-warning btn-flat" href="@Url.Action("DetailCategory", "DiSanVanHoa", new { Id = item.Id })"><i class="fa fa-pencil"></i></a>
                                                <button type="button" class="btn btn-danger btn-flat" title="Xóa" onclick="trash('@item.Id','DiSanVanHoa')"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
