<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/js/jquery.jsgallery/jsgallery.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/Content/favico.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        DateTime _date = DateTime.Now;
        int _languageId = 1;
        try
        {
            _languageId = (int)Session["languageId"];
        }
        catch
        {
        }
    }
</head>
<body>
    <div id="MaiMenuM" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("getMenuMain", "Home")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-body">
            <div class="banner">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Action("GetBannerMain", "Home")
                @Html.Action("_getLanguage", "Home")
            </div>
            <div class="body-content">

                @if (_languageId == 1)
                {
                    <div class="date-page">
                        <div class="tim-kiem-mb">
                            <a href="/tim-kiem" title="Tìm kiếm"><i class="fa fa-search"></i></a>
                        </div>
                        Ngày @_date.Day tháng @_date.Month năm @_date.Year
                    </div>
                }
                else
                {
                    <div class="date-page">
                        <div class="tim-kiem-mb">
                            <a href="/tim-kiem" class="btn btn-default" title="Search"><i class="fa fa-search"></i></a>
                        </div>
                        Day @_date.Day Month @_date.Month Year @_date.Year
                    </div>
                }

                <div class="row">
                    <div id="colLeft" class="left col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        @Html.Action("pageLeft", "Home")
                    </div>
                    <div id="main-page" class="main-page col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        @RenderBody()
                    </div>
                    <div class="left col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        <div class="anh-video">
                            <ul class="nav nav-tabs">
                                @if (_languageId == 1)
                                {
                                    <li class="active"><a class="image" data-toggle="tab" href="#images">Ảnh</a></li>
                                }
                                else
                                {
                                    <li class="active"><a class="image" data-toggle="tab" href="#images">Image</a></li>
                                }
                                <li><a class="video" data-toggle="tab" href="#videos">Video</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="images" class="tab-pane fade in active">
                                    @Html.Action("getAnh", "Home")
                                </div>
                                <div id="videos" class="tab-pane fade">
                                    @Html.Action("getVideoIsHome", "Home")
                                </div>
                            </div>
                        </div>
                        @Html.Action("getBannerRight", "Home")
                    </div>
                    <div id="colRightM">
                        @Html.Action("getMenuLeft1", "Home")
                        @Html.Action("getMenuLeft2", "Home")
                        @Html.Action("LienKetWeb", "Home")
                        @Html.Action("getBannerLeft", "Home")
                    </div>
                </div>
            </div>
            @Html.Action("getMenuFooter", "Home")
            <div class="footer" id="footer">
                <div class="row">
                    <div class="col-md-8">
                        @Html.Action("getFooterInfor", "Home")
                    </div>
                    <div class="col-md-4">
                        @Html.Action("_HitCounter", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/js/jquery.jsgallery/jquery.jsgallery.min.js"></script>
    <script>
        $("#BoxSuKien .item:first-child").addClass("active");
        $(".nav li:has(ul)").addClass('hassub');
        function setLaguage(x) {
            $.ajax({
                type: "GET",
                url: "/Home/_setLanguage",
                data: { _languageId: x },
                datatype: "json",
                success: function (data) {
                    window.location.href = "/";
                }
            });
        }
        function moveToPreviousPage(currentPage, formId) {
            moveToPage(currentPage - 1, formId);
        }
        function moveToNextPage(currentPage, formId) {
            moveToPage(currentPage + 1, formId);
        }
        function moveToPage(page, formId) {
            $(".page-to-move").val(page);
            $("#" + formId).submit();
        }
        $(document).ready(function () {
            $('html, body').animate({ scrollTop: $('#main-page').offset().top }, 'slow');
        });
        $("#lienket").change(function () {
            var _link = this.value;
            if (_link.length > 0) {
                window.open(_link, '_blank');
            }
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
